body{
    background-color: #F9F9F9
}
.navbar {
    margin-bottom: 0px;
    border: none;
    border-radius: 0;
}
.navbar-default{
    background-color: #222222;
}

footer{
    height: 3.5em;
    margin-top: 20px;
    background: #222;
    position: fixed;
    left:0px;
    bottom:0px;
}

footer p{
    color: #777;
    text-align: center;
    margin-top: 15px;
}
.home-jumbo{
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 20px;
}

.home-jumbo h2, .home-jumbo h3{
    font-family: 'Megrim';
    font-size: 2em;
}

.home-jumbo a:hover{
    text-decoration: none;
}
.content{
    min-height: 100vh;
}

#price{
    color: #77a464;
    font-size: 1.25em
}

.about-shop-btn{
    margin-bottom: 20px;
    border-color: #77a464;
}

.form-container{  
    background: white;
    margin-top: 20px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);
    box-shadow: 0 1px 3px rgba(0,0,0,.13);
}

input[type=text],input[type=password], input[type=search],textarea{
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    width:300px;
    border:none;
    border-bottom:1px solid #77a464;
    transition: border-bottom-width 0.3s;
    background: rgba(0,0,0,0);
}
input[type=search]{
    display:inline;
    background: rgba(0,0,0,0);
}
input[type=text]:focus, input[type=password]:focus, input[type=search]:focus,textarea:focus{ 
    outline:none; 
    border-bottom-width: 2px;
}

form dt{
    font-weight: 100;
    color: #72777c;
    margin-top: 10px;
}

form dd{
    margin-top: 10px;
}

.flash{
    margin-bottom: 0px;
}

.navbar-default .navbar-nav > li > a:hover{
    color: white;
}

.table th, table td{
    border-color: darkseagreen !important;
    border-top: none !important;
    padding: 20px;
}
.products-table, .all-stores-table, .my-stores-table{
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);
    box-shadow: 0 1px 3px rgba(0,0,0,.13);
    padding: 10px 5px 10px 5px;
    background-color: white;
    border-bottom: none !important;
}


.products-table th, .products-table td{
    border-top: none !important;
}

.products-table tbody tr:hover{
    background: rgba(0,0,0,0.07);
}

#about-shop{
    background: white;
    padding: 20px
}

.products-listing .product{
    box-sizing: border-box;
    margin-top: 20px;
    margin-right: 10px;
}

.product-summary, .product-description{
    background: white;
    padding: 20px;
}

.product-description{
    margin-top: 20px;
}

.product {
    width:32%;
    padding:20px;
    background-color: white;
    box-shadow: 0 20px 20px rgba(0,0,0,.1);
    transition: transform .3s ease-out;
}

@media (max-width: 480px){
    .product{
        width: 90%;
    }
}

.product:hover{
    transform: translate(0px,-20px);
    z-index: 1;
    box-shadow: 0 14px 28px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.12);
}

.product-image{
    max-width: 100%
}