{% extends "layout.html" %}
{% block body %}
<link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/megrim" type="text/css"/> 
<div class="jumbotron home-jumbo">
    <h3>Welcome to Agora</h3>
</div>
<div class="container">
{% if session.logged_in %}
<a href="{{url_for('create_store')}}">Create a new store</a>
<br>
    {% if user_shops %}
<table class="table my-stores-table">
    <thead>
        <tr>
            <th>My stores</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for shop in user_shops%}
		<tr>
			<td>
                <img height="32" src="{{ url_for('static',filename='gravatar.png') }}"/>
                {{ shop[1] }}
            </td>
			<td><a href="{{ url_for('view_shop',shopurl=shop[4]) }}">View</a></td>
            <td><a href="{{ url_for('remove_shop',shop_id=shop[0]) }}">Delete</a></td>
		</tr>
        {% endfor %}
	</tbody>
</table>
    {% else %}
    <p>You have no stores yet.</p>
    {% endif %}
{% else %}  
<p>Here are all the shops on Agora. Click the link to view the products in them.</p>
    
<table class="table all-stores-table">
    <thead>
        <tr>
            <th>All stores</th>
            <th>Description</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
        {% for shop in all_shops%}
		<tr>
			<td>
                <img height="32" src="{{ url_for('static',filename='gravatar.png') }}"/>
                <a href="{{ url_for('view_shop',shopurl=shop[4]) }}">{{ shop[1] }}</a>
            </td>
            <td>{{ shop[2] }}</td>
            <td>{{ shop[3] }}</td>
		</tr>
        {% endfor %}
	</tbody>
</table>
{% endif %}
</div>
{% endblock %}