{% extends "layout.html" %}
{% block body %}
<br>
{% if session.logged_in %}
<a href="{{url_for('create_store')}}">Create a new store</a>
<br>
    {% if user_shops %}
<table >
    <tbody>
		<tr>
			<td><strong>My stores</strong></td>
		</tr>
        {% for shop in user_shops%}
		<tr>
			<td>{{ shop[1] }}</td>
			<td><a href="{{ url_for('view_shop',shopurl=shop[4]) }}">View</a></td>
		</tr>
        {% endfor %}
	</tbody>
</table>
    {% else %}
    <p>You have no stores yet.</p>
    {% endif %}
{% else %}
<p>or <a href="{{ url_for('sign_up') }}">sign up</a></p>
{% endif %}
{% endblock %}