{% extends "layout.html" %}
{% block body %}
<div class="container form-container col-md-4 col-md-offset-4">
  {% if error %}<p class="flash alert alert-danger error"><strong>Error:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('login') }}" method=post>
    <dl>
      <dt>Username:
      <dd><input type=text name=username>
      <dt>Password:
      <dd><input type=password name=password>
      <dd><input class="btn btn-default" type=submit value=Login>
    </dl>
  </form>
</div>
{% endblock %}